.filter{
    justify-content: space-between;
    align-content: center;
    display: flex;
    #active__count{
        padding: 3px;
    }
    .filter__link {
        cursor: pointer;
        font-size: 15px;
        padding: 3px;
        margin: 1px;
        -webkit-user-select: none;
        /* user-select -- это нестандартное свойство */
        -moz-user-select: none;
        /* поэтому нужны префиксы */
        -ms-user-select: none;
    }
    .filter__link:hover{
        margin: 0;
        border: 1px solid rgba(128, 128, 128, 0.432);
    }
    .filter__link.active{
        margin: 0;
        border: 1px solid #778ca3;
    }
  }
  .items{
      display: flex;
      padding: 5px;
      widows: 100%;
  }
  #clear__completed{
    font-size: 15px;
    margin: 1px;
    padding: 3px;
    cursor: pointer;
  }
  #clear__completed:hover{
    text-decoration: underline;
  }